jupyter
notebook
ipykernel
langchain
langchain-core
langchain-community
langchain-openai
langchain-google-genai
langchain-chroma
langchain-neo4j
openai
google-generativeai
chromadb
neo4j
unstructured
unstructured-inference
pdfminer.six
pikepdf
pymupdf
pymupdf4llm
pandas
numpy
matplotlib
python-dotenv
requests
tqdm
Pillow